* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Táº O GRID */
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wite {
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  padding: 0 4px;
}

.c-0 {
  display: none;
}
.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* PC LOW RESOLUTION */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wite {
    width: 980px;
  }

  .row {
    margin: 0 -12px;
  }

  .column {
    padding: 0 12px;
  }
  .wite .l-0 {
    display: none;
  }

  .wite .l-1,
  .wite .l-2,
  .wite .l-3,
  .wite .l-4,
  .wite .l-5,
  .wite .l-6,
  .wite .l-7,
  .wite .l-8,
  .wite .l-9,
  .wite .l-10,
  .wite .l-11,
  .wite .l-12 {
    display: block;
  }

  .wite .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wite .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wite .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wite .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wite .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wite .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wite .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wite .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wite .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wite .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wite .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wite .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .wite {
    width: 664px;
  }

  .row {
    margin: 0 -12px;
  }

  .column {
    padding: 0 12px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* END GRID */
