* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/image-asset.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-color: linear-gradient(45deg, rgba(255, 255, 255, 0.5), red);
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.box-login {
  width: 400px;
  height: auto;
  margin: 100px 0px 0px 550px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px black;
}

.box-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box {
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
  border-right: 1px solid yellow;
  border-left: 1px solid blue;
  /* border: 1px solid white; */
  border-bottom: 1px solid red;
  border-top: 1px solid green;
  border-radius: 50%;
  animation: spin 0.5s infinite linear;
  top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.box-form h1 {
  background: linear-gradient(45deg, red, green, blue, yellow);
  color: transparent;
  background-clip: text;
  background-size: 300px 300px;
  animation: color 3s ease-in-out infinite;
  margin-top: 30px;
  font-weight: 600;
  position: absolute;
  top: 120px;
}

@keyframes color {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.box-form .box-username,
.box-form .box-password {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.box-form .box-username input,
.box-form .box-password input {
  width: 300px;
  height: 30px;
  margin: 10px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.box-form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
}

.box-form .box-username .item,
.box-form .box-password .item1 {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 20px;
}

.box-form label.password,
.box-form label.name {
  position: absolute;
  top: 5px;
  right: 230px;
  color: #fff;
  font-weight: 600px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.box-form input:focus ~ label,
.box-form input:valid ~ label {
  transform: translateY(-100%);
}

.box-form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
}

button {
  background-color: transparent;
  width: 150px;
  padding: 7px;
  color: #fff;
  margin: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 3px 7px 5px black;
}

button:focus {
  transform: scale(1);
  box-shadow: 5px 5px 5px transparent;
  background-color: green;
}

.checkbox {
  position: relative;
  width: 100%;
  height: auto;
}

label.checkbox {
  color: #fff;
  position: absolute;
  left: 90px;
  display: flex;
  font-size: 15px;
  align-items: center;
  font-weight: 500;
  gap: 3px;
}

input[type="checkbox"] {
  cursor: pointer;
  background-color: transparent;
}
input[type="checkbox"]:checked {
  cursor: pointer;
  accent-color: green;
}

.box-form .resigner {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.box-form .resigner a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 900px;
}

@media only screen and (max-width: 600px) and (min-height: 500px) {
  body {
    width: 100%;
    height: 100vh;
    background-size: 200% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-login {
    width: 250px;
    height: auto;
    margin: auto;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px black;
  }

  .box {
    margin-top: 2px;
    width: 50px;
    height: 50px;
  }

  .box-form {
    gap: 10px;
    position: relative;
  }

  .box-form h1 {
    top: 0.5px;
    background: linear-gradient(45deg, white, aqua, black);
    background-clip: text;
    font-size: 13px;
  }

  .box-form .box-username,
  .box-form .box-password {
    font-size: 13px;
    width: 220px;
  }

  .box-form .box-username input,
  .box-form .box-password input {
    width: 200px;
  }

  .box-form label.password,
  .box-form label.name {
    top: 15px;
    left: 20px;
  }

  .box-form .box-username .item,
  .box-form .box-password .item1 {
    font-size: 13px;
    top: 20px;
    right: 15px;
  }

  .checkbox label {
    font-size: 12px;
    left: 20px;
  }

  button {
    width: 80px;
    padding: 2px;
    font-size: 13px;
    margin: 20px 0 10px 0;
  }

  .box-form .resigner {
    margin: 0px 0 5px 0;
    font-size: 13px;
  }

  .mes {
    color: white;
    font-size: 14px;
    width: 200px;
  }
}

.mes {
  color: white;
  font-size: 14px;
  width: 300px;
}
